@charset "utf-8";
/* CSS Document */

/*header样式*/

#header{background:#fff;border-bottom:1px solid #c1c1c1;}
#header .header-r ul li{float:left;text-align:center;}
#header .header-r ul li a {width:90px;line-height:80px;display:block;}
#header .header-r ul li a.lis{color:red;}


/*pro样式*/
#pro{background:#efefef;}
#pro .fuwu{text-align:center;font:27px/77px "";}
#pro .pro1{text-align:center;font:17px/67px "";}

#pro span{color:#000;}
#pro .pro1 .span-2{padding:0 60px;}

/*show*/

#show{background:#efefef;}
#show-b{width:100%;overflow:hidden;}
#show li{float:left;width:300px;}

#show ul li{background:#FFF;margin-bottom:30px;}

#show .show-b  img {width:96%;padding:10px;display:block;}


#show li h3{text-align:center;font:15px "";color:#343434;padding:13px 0 16px 0; }
#show li span{text-align:center;font:12px/24px "";color:#c1c1c1;display:inline-block;padding-left:25px;}



/*page*/


#page{background:#efefef;text-align:center;}

#page .pages{display:inline-block;}

#page li{float:left;}

#page li a{display:block;border:1px solid #ffffff;;padding:4px 8px;margin:0 5px;margin-bottom:45px;}

 
 
 
  /*bor样式*/
  
  #bor{border:3px solid red;}
  
 
  /*footer样式*/
  
  #footer{background:#393e44;}
 
 #footer .footer1{padding:116px 0 156px 0;background:url(../images/tt.png) repeat-y right ;}
 #footer .footer2{padding:116px 0 156px 0;background:url(../images/tt.png) repeat-y right ;margin-left:50px;width:200px;}

 #footer .footer2 h2{font:20px/50px "";color:#999;background:url(../images/l.png) no-repeat left center;padding-left:40px;} 
 #footer .footer2 p{font:12px/27px "";color:#999;padding-left:40px;}
 
 
 #footer .footer3{padding:116px 0 156px 0;background:url(../images/tt.png) repeat-y right ;margin-left:50px;width:200px;}

 #footer .footer3 h2{font:20px/50px "";color:#999;background:url(../images/l.png) no-repeat left center;padding-left:40px;} 
 #footer .footer3 p{font:12px/27px "";color:#999;padding-left:40px;}
 
 
 #footer .footer4{padding:116px 0 156px 0;background:url(../images/tt.png) repeat-y right ;margin-left:50px;width:200px;}

 #footer .footer4 h2{font:20px/50px "";color:#999;background:url(../images/l.png) no-repeat left center;padding-left:40px;} 
 #footer .footer4 p{font:12px/27px "";color:#999;padding-left:40px;}
 
 
 /*end*/
 
 
 #end{background:#2f3239;height:80px;}
 
 #end .end1{line-height:80px;color:#000;}
 
 
 








